apiVersion: kustomize.toolkit.fluxcd.io/v1beta1
kind: Kustomization
metadata:
  name: internal-kustomization
  namespace: gotk-system
spec:
  interval: 1h
  path: ./
  prune: true
  sourceRef:
    kind: GitRepository
    name: internal-repository
